@mixin flex($dir, $alItm, $jsCon) {
    display: flex;
    flex-direction: $dir;
    align-items: $alItm;
    justify-content: $jsCon;
}

@mixin transtionOneStyle($style) {
    transition: $style 300ms linear;
}