
:root {
    --ff-Roboto: "Roboto Flex", serif;
    --ff-Rurik: 'Rurik (viking)';
    --ff-Inter: "Inter", serif;

    --container-width: 1300px;
    --container-padding: 15px;

    --color-gold-f2c791: #f2c791;
    --color-gray-303030: #303030;
    --color-gray-545454: #545454;
    --color-gray-595959: #595959;
    --color-gray-5B5B5B: #5B5B5B;
    --color-white-fff: #fff;

    --color-dark-161718: #161718;

    --t: 300ms linear;
}