.stage-work {
    overflow: hidden;
    padding-top: 50px;
    background-color: #151762;
    // .stage-work__icon

    &__icon {
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        padding-bottom: 127px;
    }

    // .stage-work__inner

    &__inner {
        // overflow: hidden;
    }

    // .stage-work__parent-slider

    &__parent-slider {
        margin-bottom: 45px;
    }

    // .stage-work__slider

    &__slider {

    }

    // .stage-work__slide
    
    &__slide {
        opacity: 0 !important;
        position: relative;

        &.swiper-slide-active{
            opacity: 1 !important;

            .stage-work__slide-info,
            .stage-work__slide-picture{
                transform: translateX(0);
                opacity: 1;
            }
        }

        position: relative;

        &::before{
            content: attr(data-slide-count);
            font-family: var(--ff-Rurik);
            font-size: 160px;
            font-weight: 400;
            line-height: 162px;
            letter-spacing: .06em;

            position: absolute;
            left: 
                calc(
                    ((100vw - (calc(90vw + var(--container-padding)*2))) / 1.3) * -1
                )
            ;

            top: 50%;
            transform: translateY(-50%);

            color: rgba($color: #fff, $alpha: 0.1);
        }
    }
    &__slide-inner{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        transition: transform 300ms linear;
    }
    // .stage-work__slide-picture

    &__slide-picture {
        transition: 
            transform 400ms linear, 
            opacity 300ms linear
        ;

        transform: translateX(-100%);
        opacity: 0;
    }

    // .stage-work__slide-info

    &__slide-info {
        max-width: 491px;
        max-height: 491px;
        min-width: 491px;
        min-height: 491px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        color: #fff;
        // background-color: #181B71;
        background-color: #181c94;

        border-radius: 49% 61% 93% 38%/44% 70% 47% 82%;
        animation: morph2 6s linear infinite;

        padding-inline: 50px;
        padding-bottom: 68px;
        padding-top: 50px;

        transition: 
            transform 400ms linear, 
            opacity 300ms linear
        ;
        
        transition-delay: 500ms;
        transform: translateX(100%);
        opacity: 0;

        transition: background-color 300ms linear;
    }

    // .stage-work__slide-number

    &__slide-number {
        font-family: var(--ff-Rurik);
        font-size: 160px;
        font-weight: 400;
        line-height: 162px;
        letter-spacing: 0.06em;
    }

    // .stage-work__slide-title

    &__slide-title {
        font-family: var(--ff-Rurik);
        font-size: 32px;
        font-weight: 400;
        line-height: 38.4px;
        text-align: center;
        // padding-bottom: 59px;
    }

    // .stage-work__slide-text

    &__slide-text {
        font-family: var(--ff-Inter);
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        text-align: center;
    }

    // .stage-work__slide-link

    &__slide-link {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: max-content;
        width: 100%;

        font-family: var(--ff-Inter);
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        text-align: center;
        color: white;

        margin-top: auto;
        margin-bottom: 0;
    }

    // .stage-work__pagination
    &__pagination-parent{
        max-width: 394px;
        width: 100%;
        margin: 0 auto;
    }

    &__pagination {

    }

    // .stage-work__pagination-slide

    &__pagination-slide {
        position: relative;
        cursor: pointer;
        
        font-family: var(--ff-Rurik);
        font-size: 14px;
        font-weight: 400;
        line-height: 15.4px;
        letter-spacing: 0.06em;
        color: white;

        padding-top: 72px;

        &::after{
            content: '';
            top: 0;
            left: 5px;
            position: absolute;
            width: 1px;
            height: 68px;
            background-color: rgba($color: #fff, $alpha: 0.5);
        }

        &::before{
            content: '';
            width: 3px;
            // height: 22px;
            height: 0px;
            background-color: #fff;
        
            position: absolute;
            top: 0;
            left: 4px;

            transition: height 300ms linear;
        }

        &.swiper-slide-thumb-active::before{
            height: 22px;
        }
    }
}






.glitchTextHover {
    // animation: glitch 1s linear infinite;
    position: relative;
}

@keyframes glitch {
    2%,64% {
        transform: translate(-48%, -50%) skew(0deg);
    }
    4%,60% {
        transform: translate(-52%, -50%) skew(0deg);
    }
    62% {
        transform: translate(-50%, -50%) skew(5deg);
    }
}

.glitchTextHover::before,
.glitchTextHover::after {
    content: attr(attr-title);
    position: absolute;
    left: 0;
}

// .glitchTextHover::before {
//     clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
//     animation: glitchTop 1s linear infinite;
// }

@keyframes glitchTop {
    2%,64% {
        transform: translate(-2px, -2px);
    }
    4%,60% {
        transform: translate(2px, -2px);
    }
    62% {
        transform: translate(75px, 1px) skew(-15deg);
    }
}

// .glitchTextHover::after {
//     clip-path: polygon(0 68%, 100% 68%, 100% 100%, 0 100%);
//     animation: glitchBottom 1s linear infinite;
// }

@keyframes glitchBottom {
    2%,64% {
        transform: translate(-2px, 0);
    }
    4%,60% {
        transform: translate(-2px, 0);
    }
    62% {
        transform: translate(-42px, 2px) skew(35deg);
    }
}

.glitchTextHover:hover {
    &::after {
        clip-path: polygon(0 68%, 100% 68%, 100% 100%, 0 100%);
        animation: glitchBottom 1s linear infinite;
    }
    &::before {
        clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
        animation: glitchTop 1s linear infinite;
    }
}